.continer {
  border-radius: 10px;
  overflow: hidden;
  width: 300px;
  box-shadow: 4px 6px 4px rgb(0, 0, 0, 0.2);
  margin: 15px;

}

.foodTitle {
  color: rgb(54, 54, 54);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  padding: 5px;
}
.buttonRecipe {
  background-color: rgb(23, 161, 5);
  border-radius: 5px;
  padding: 10px;
  border: none;
  margin: 5px;
  color: white;
  display: flex;
  justify-content: space-around;
  font-size: 15px;
  cursor: pointer;
}
.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}
.recipeImage{
    max-width: 100%;
    width: auto;
}
